package molecules

templ Navbar() {
	<nav class="navbar">
		<div class="navbar-logo">
			<a href="/">
				<img src="/assets/icons/logo-full-light.svg" alt="Planning Poker Icon" class="w-20 hr-2"/>
			</a>
		</div>
		<div class="navbar-links">
			<a href="/login" class="navbar-link">Login</a>
			<a href="/register" class="navbar-link">Register</a>
			<a href="https://github.com/jack-kitto/planning-poker" class="navbar-github">
				<img src="https://gyazo.com/85e7ce9196ae635161fec921602903a7/max_size/1000" alt="GitHub Logo"/>
				<span>GitHub</span>
			</a>
		</div>
	</nav>
}
