package templates

templ LandingTemplate() {
	@Base() {
		<main class="h-full">
			<div class="w-screen h-screen">
				<div class="h-full w-full">
					{ children... }
				</div>
			</div>
		</main>
	}
}
